/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$white-color};
  --global-text-color: #{$black-color};
  --global-theme-color: #{$drac-bluish}; //#{$purple-color};
  --global-hover-color: #{$light-drac-bluish}; //#{$light-purple-color};
  --global-footer-bg-color: #{$drac-bluish}; //#{$grey-color-dark};
  --global-dropdown-hover: #{$white-color};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-footer-hover-color: pink;
  --global-icon-color: #{$black-color};
  --header-border-color: #{$grey-color-light};
  --global-sidebar-bg: #{$sidebar-bg};
  --title-highlight: #{$drac-bluish-opaque};

  .bi-sun {
    display : none;
  }
  .bi-sun-fill {
    padding-left: 10px;
    padding-top: 10px;
    display : block;
    &:hover {
      color: var(--global-hover-color); //$light-purple-color;
    }
    &:active {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
    }
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$dm-black};
  --global-text-color: #{$dm-grey};
  --global-theme-color: #{$drac-purple}; //#{$cyan-color};
  --global-hover-color: #{$light-drac-purple}; // #{$light-cyan-color};
  --global-dropdown-hover: #{$dm-black};
  --global-footer-bg-color: #{$drac-grey};
  --global-footer-text-color: #{$dm-grey};
  --global-footer-link-color: #{$drac-purple};
  --global-footer-hover-color: pink;
  --global-icon-color: #{$dm-grey};
  --header-border-color: #{$dm-grey};
  --global-sidebar-bg: #{$dm-sidebar-bg};
  --title-highlight: #{$drac-purple-opaque};



  .bi-sun {
    padding-left: 10px;
    padding-top: 10px;
    display : block;
    &:hover {
      color: var(--global-hover-color);
    }
    &:active {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
    }
  }
  .bi-sun-fill {
    display : none;
  }
}
