/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/



// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$light-orange-color:  lighten($orange-color, 25%);
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     darken($grey-color, 25%);

$white-color: #f8f8f2 !default; //#ffffff !default;
$black-color: #000000 !default;

$sidebar-bg:          darken($white-color, 5%);
$grey-color-extralight: darken($white-color, 3%);


$dm-grey:  #f8f8f2 !default; //#c7bebe !default;
$dm-black: #282a36 !default; //#131418 !default;
$light-dm-black: lighten($dm-black, 4%);
$dm-sidebar-bg: lighten($dm-black, 15%);

// Dracula
$drac-bluish: rgb(98, 114, 164) !default;
$drac-bluish-opaque: rgba(98, 114, 164, 0.5) !default;
$drac-grey: #44475a !default;
$drac-pink: #ff79c6 !default;
$light-drac-pink: lighten($drac-pink, 7%);
$light-drac-bluish: lighten($drac-bluish, 5%);
$drac-purple: rgb(189, 147, 249) !default;
$drac-purple-opaque: rgba(189, 147, 249, 0.5) !default;
$light-drac-purple: lighten($drac-purple, 8%);

// Teals
$teal: #18978F !default;
$light-teal: lighten($teal, 10%);

$dm-teal: #0096FF !default;
$dm-light-teal: lighten($dm-teal, 25%);
