---
layout: default
---

<div class="post">


  {% if page.profile %}
  <div class="profile-pic">
    {% if page.profile.image %}
      <img class="img z-depth-1 rounded-circle" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
    {% endif %}
  {% endif %}
  </div>

  <header class="post-header text-center">
    <h5 class="author-blurb">
      PhD Candidate Economics
    </h5>
      {% if page.description %}
        <p class="desc">{{ page.description }}</p>
      {% endif %}
  </header>

  <article>

    <div class="author-bio clearfix">
      {{ content }}
    </div>


    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    {% if page.social %}
    <div class="social">
      {% include social.html %}
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
